@import "tailwindcss";

@theme {
  --font-family-sans: "Comic Sans MS", "Quicksand", "Nunito", sans-serif;
  --color-brand-primary: #3b82f6;
  --color-brand-secondary: #f43f5e;
  --color-brand-accent: #10b981;
}

body {
  @apply bg-slate-50 text-slate-800;
  font-family: var(--font-family-sans);
}
